In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

from jupyterthemes import jtplot
jtplot.style()

from acquire import get_zillow_data

Acquire (acquire.py)

Zillow

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

acquire & summarize

#1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.

- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.

- Only include properties that include a latitude and longitude value.

In [2]:
zillow = get_zillow_data()

In [5]:
zillow.columns.tolist()

['typeconstructiontypeid',
 'storytypeid',
 'propertylandusetypeid',
 'heatingorsystemtypeid',
 'buildingclasstypeid',
 'architecturalstyletypeid',
 'airconditioningtypeid',
 'id',
 'parcelid',
 'logerror',
 'transactiondate',
 'parcelid',
 'trans_date',
 'id',
 'parcelid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'threequarterbathnbr',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'airconditioningdesc',
 'architecturalstyledesc',
 'buildingclassdesc',
 'heatingorsystemdesc',
 'propertylandusedesc',
 'storydesc',
 'typeconstructiondesc']

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id2,basementsqft,...,id2,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,0,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,1,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,2,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,3,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,4,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10833991,2864704,NaN,...,77608,-0.002245,2017-09-20,Central,None,None,Central,Condominium,None,None
77575,NaN,NaN,261.0,2.0,NaN,NaN,NaN,11000655,673515,NaN,...,77609,0.020615,2017-09-20,None,None,None,Central,Single Family Residential,None,None
77576,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17239384,2968375,NaN,...,77610,0.013209,2017-09-21,None,None,None,None,Single Family Residential,None,None
77577,NaN,NaN,261.0,2.0,NaN,NaN,1.0,12773139,1843709,NaN,...,77611,0.037129,2017-09-21,Central,None,None,Central,Single Family Residential,None,None
77578,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12826780,1187175,NaN,...,77612,0.007204,2017-09-25,None,None,None,Central,Single Family Residential,None,None

In [6]:
# double id columns, triple parcelid columns
zillow.columns = ['typeconstructiontypeid',
                  'storytypeid',
                  'propertylandusetypeid',
                  'heatingorsystemtypeid',
                  'buildingclasstypeid',
                  'architecturalstyletypeid',
                  'airconditioningtypeid',
                  'id',
                  'parcelid',
                  'logerror',
                  'transactiondate',
                  'parcelid2',
                  'trans_date',
                  'id2',
                  'parcelid3',
                  'basementsqft',
                  'bathroomcnt',
                  'bedroomcnt',
                  'buildingqualitytypeid',
                  'calculatedbathnbr',
                  'decktypeid',
                  'finishedfloor1squarefeet',
                  'calculatedfinishedsquarefeet',
                  'finishedsquarefeet12',
                  'finishedsquarefeet13',
                  'finishedsquarefeet15',
                  'finishedsquarefeet50',
                  'finishedsquarefeet6',
                  'fips',
                  'fireplacecnt',
                  'fullbathcnt',
                  'garagecarcnt',
                  'garagetotalsqft',
                  'hashottuborspa',
                  'latitude',
                  'longitude',
                  'lotsizesquarefeet',
                  'poolcnt',
                  'poolsizesum',
                  'pooltypeid10',
                  'pooltypeid2',
                  'pooltypeid7',
                  'propertycountylandusecode',
                  'propertyzoningdesc',
                  'rawcensustractandblock',
                  'regionidcity',
                  'regionidcounty',
                  'regionidneighborhood',
                  'regionidzip',
                  'roomcnt',
                  'threequarterbathnbr',
                  'unitcnt',
                  'yardbuildingsqft17',
                  'yardbuildingsqft26',
                  'yearbuilt',
                  'numberofstories',
                  'fireplaceflag',
                  'structuretaxvaluedollarcnt',
                  'taxvaluedollarcnt',
                  'assessmentyear',
                  'landtaxvaluedollarcnt',
                  'taxamount',
                  'taxdelinquencyflag',
                  'taxdelinquencyyear',
                  'censustractandblock',
                  'airconditioningdesc',
                  'architecturalstyledesc',
                  'buildingclassdesc',
                  'heatingorsystemdesc',
                  'propertylandusedesc',
                  'storydesc',
                  'typeconstructiondesc']

In [8]:
zillow = zillow.drop(columns=['parcelid2','parcelid3','id2'])

#2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [9]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77380 non-null  float64
 3   heatingorsystemtypeid         49439 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   id                            77380 non-null  int64
 8   parcelid                      77380 non-null  int64
 9   logerror                      77380 non-null  float64
 10  transactiondate               77380 non-null  object
 11  trans_date                    77380 non-null  object
 12  basementsqft                  50 non-null     float64
 13  bathroomcnt                   77380 non-null  float64
 14  bedroomcnt                    77380 non-null  float64
 15  buildingqualitytypeid         49671 non-null  float64
 16  calculatedbathnbr             76771 non-null  float64
 17  decktypeid                    614 non-null    float64
 18  finishedfloor1squarefeet      6023 non-null   float64
 19  calculatedfinishedsquarefeet  77184 non-null  float64
 20  finishedsquarefeet12          73748 non-null  float64
 21  finishedsquarefeet13          41 non-null     float64
 22  finishedsquarefeet15          3009 non-null   float64
 23  finishedsquarefeet50          6023 non-null   float64
 24  finishedsquarefeet6           386 non-null    float64
 25  fips                          77380 non-null  float64
 26  fireplacecnt                  8276 non-null   float64
 27  fullbathcnt                   76771 non-null  float64
 28  garagecarcnt                  25474 non-null  float64
 29  garagetotalsqft               25474 non-null  float64
 30  hashottuborspa                1538 non-null   float64
 31  latitude                      77380 non-null  float64
 32  longitude                     77380 non-null  float64
 33  lotsizesquarefeet             69141 non-null  float64
 34  poolcnt                       16137 non-null  float64
 35  poolsizesum                   867 non-null    float64
 36  pooltypeid10                  464 non-null    float64
 37  pooltypeid2                   1074 non-null   float64
 38  pooltypeid7                   15042 non-null  float64
 39  propertycountylandusecode     77380 non-null  object
 40  propertyzoningdesc            50330 non-null  object
 41  rawcensustractandblock        77380 non-null  float64
 42  regionidcity                  75909 non-null  float64
 43  regionidcounty                77380 non-null  float64
 44  regionidneighborhood          30890 non-null  float64
 45  regionidzip                   77330 non-null  float64
 46  roomcnt                       77380 non-null  float64
 47  threequarterbathnbr           10096 non-null  float64
 48  unitcnt                       50562 non-null  float64
 49  yardbuildingsqft17            2388 non-null   float64
 50  yardbuildingsqft26            70 non-null     float64
 51  yearbuilt                     77117 non-null  float64
 52  numberofstories               17560 non-null  float64
 53  fireplaceflag                 172 non-null    float64
 54  structuretaxvaluedollarcnt    77268 non-null  float64
 55  taxvaluedollarcnt             77379 non-null  float64
 56  assessmentyear                77380 non-null  float64
 57  landtaxvaluedollarcnt         77378 non-null  float64
 58  taxamount                     77375 non-null  float64
 59  taxdelinquencyflag            2886 non-null   object
 60  taxdelinquencyyear            2886 non-null   float64
 61  censustractandblock           77136 non-null  float64
 62  airconditioningdesc           24953 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49439 non-null  object
 66  propertylandusedesc           77380 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(12)
memory usage: 40.7+ MB

In [10]:
zillow.describe()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,parcelid,logerror,...,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,222.000000,50.0,77380.000000,49439.000000,15.000000,206.000000,24953.000000,77380.000000,7.738000e+04,77380.000000,...,77117.000000,17560.000000,172.0,7.726800e+04,7.737900e+04,77380.0,7.737800e+04,77375.000000,2886.000000,7.713600e+04
mean,6.040541,7.0,261.826350,3.920447,3.933333,7.388350,1.813289,38848.191794,1.300715e+07,0.016628,...,1968.635943,1.434738,1.0,1.893160e+05,4.901375e+05,2016.0,3.010969e+05,5995.566592,14.087318,6.049674e+13
std,0.557285,0.0,5.141231,3.592789,0.258199,2.734542,2.967894,22402.140388,3.481368e+06,0.170190,...,23.786166,0.544569,0.0,2.300886e+05,6.534477e+05,0.0,4.925990e+05,7622.887460,2.185663,1.535252e+12
min,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,0.000000,1.071186e+07,-4.655420,...,1824.000000,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13
25%,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,19460.750000,1.153830e+07,-0.024377,...,1953.000000,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.585000,14.000000,6.037311e+13
50%,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,38869.500000,1.253155e+07,0.006627,...,1970.000000,1.000000,1.0,1.364995e+05,3.589760e+05,2016.0,2.033835e+05,4450.720000,15.000000,6.037603e+13
75%,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,58252.250000,1.421184e+07,0.039204,...,1987.000000,2.000000,1.0,2.187875e+05,5.690030e+05,2016.0,3.668022e+05,6927.800000,15.000000,6.059042e+13
max,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,77612.000000,1.676893e+08,5.262999,...,2016.000000,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14

In [14]:
zillow.shape

(77380, 69)

#3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

            num_rows_missing	pct_rows_missing
parcelid                     	0	0.000000
airconditioningtypeid	    29041	0.535486
architecturalstyletypeid	54232	0.999982

In [20]:
missing = pd.DataFrame()
missing['num_rows_missing'] = zillow.isnull().sum()
missing.head()

                        num_rows_missing
typeconstructiontypeid             77158
storytypeid                        77330
propertylandusetypeid                  0
heatingorsystemtypeid              27941
buildingclasstypeid                77365

In [21]:
missing['pct_rows_missing'] = zillow.isnull().sum()/len(zillow) * 100
missing.head()

                        num_rows_missing  pct_rows_missing
typeconstructiontypeid             77158         99.713104
storytypeid                        77330         99.935384
propertylandusetypeid                  0          0.000000
heatingorsystemtypeid              27941         36.108814
buildingclasstypeid                77365         99.980615

In [22]:
def missing(df):
    missing = pd.DataFrame()
    missing['num_rows_missing'] = df.isnull().sum()
    missing['pct_rows_missing'] = df.isnull().sum()/len(df) * 100
    return missing

In [26]:
nulls = missing(zillow)

In [36]:
nulls

                        num_rows_missing  pct_rows_missing
typeconstructiontypeid             77158         99.713104
storytypeid                        77330         99.935384
propertylandusetypeid                  0          0.000000
heatingorsystemtypeid              27941         36.108814
buildingclasstypeid                77365         99.980615
...                                  ...               ...
buildingclassdesc                  77365         99.980615
heatingorsystemdesc                27941         36.108814
propertylandusedesc                    0          0.000000
storydesc                          77330         99.935384
typeconstructiondesc               77158         99.713104

[69 rows x 2 columns]

#1. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

num_cols_missing	pct_cols_missing	num_rows
23	                 38.333         	108
24	                 40.000	            123
25	                 41.667	            5280

Prepare

#1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

#2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
- A dataframe
- A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
- A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
- Look up the dropna documentation.
- You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
- Make use of inplace, i.e. inplace=True/False.

#3. Decide how to handle the remaining missing values:

- Fill with constant value.
- Impute with mean, median, mode.
- Drop row/column

wrangle_zillow.py

Functions of the work above needed to acquire and prepare a new sample of data.

Mall Customers

notebook

#1. Acquire data from mall_customers.customers in mysql database.
#2. Summarize data (include distributions and descriptive statistics).
#3. Detect outliers using IQR.
#4. Split data (train, validate, and test split).
#5. Encode categorical columns using a one hot encoder (pd.get_dummies).
#6. Handles missing values.
#7. Scaling

wrangle_mall.py

#1. Acquire data from mall_customers.customers in mysql database.
#2. Split the data into train, validate, and split
#3. One-hot-encoding (pd.get_dummies)
#4. Missing values
#5. Scaling